@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.bg-image {
    background: url('./images/bgr-image.jpg') no-repeat center;
    height: 45vh;
    background-size: cover;
    background-position-y: 40%;
    opacity: 0.9;
    background-color: #000;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.row-flex a {
    margin-top: 8px;
    display: inline-block;
    line-height: 22px;
    height: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px 10px #000;  

}

.row-flex a:hover {
    color: #9c9292;
}

.row-flex .title-cv {
    margin-left: 20px;
    width: 50vw;
}

.title-cv a {
    font-size: 24px;
} 

.row-flex .title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw;
}

.avatar {
    text-align: center;
    position: relative;
    top: -70px;
}

.avatar img {
    background-color: #fff;
    padding: 3px;
    border-radius: 50%;
}

.name-position h1 {
    text-align: center;
    margin-top: -60px;
    margin-bottom: 20px;
    font-size: 55px;
    color: #444647;
}

.name-position h2 {
    text-align: center;
    color: #5c5d5f;
    font-weight: 300;
    font-size: 27px;
    margin-bottom: 20px;
}

.col-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fas span {
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    color: #57595a;
}

.media-icon {
    margin-top: 30px;
    margin-bottom: 30px;
}

.media-icon .fab {
    font-size: 22px;
    margin-right: 10px;
    text-decoration: none;
}

.media-icon .fa-facebook {
    color: #3b5998;
}

.media-icon .fa-github {
    color: #211F1F;
}

.media-icon .fa-twitter {
    color:  #1da1f2;
}

.description {
    margin-left: 25%;
    width: 50%;
    font-size: 15px;
    opacity: 0.7;
}

.about-skill {
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left: 6vw; 
}

.about-skill .greeting {
    width: 50%;
}

.greeting h1 {
    margin-bottom: 27px;
    color: #444647;
    font-size: 45px; 
}

.greeting p {
    margin-bottom: 10px;
    font-size: 17px;
    opacity: 0.7;
}

.greeting a {
    text-shadow: none;
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
    background-color: #5CACC7;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
}

.greeting a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
}

.greeting span {
    font-size: 15px;
}

.about-skill .languages-tools {
    width: 50%;
    padding-left: 5vw;
}

.about-skill .languages {
    width: 25%;
    text-align: left;
    padding-left: 3vw;
    padding-right: 5vw;
}

.about-skill i{
    display: block;
    opacity: 0.7;
    margin-bottom: 20px;
}

.languages h1 {
    margin-bottom: 20px;
    color: #444647;

}

.tools h1 {
    margin-bottom: 20px;
    color: #444647;
}

.languages-tools .set-font {
    font-family: 'Open Sans', sans-serif;
}

.exp {
    background-color: #e8eaee;
    line-height: 2;
}

.exp h2 {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.exp i {
    display: block;
    color: #5CACC7;
    font-size: 10px;
    padding-top: 10px;
    z-index: 2;
}

.exp .space {
    width: 50%;
}

.exp .ver-line {
    position: relative;
    bottom: -10px;
    left: 4px;
    height: 120px;
    border-right: 2px solid #5CACC7;
}

.exp .job-infor {
    margin-left: 4rem;
    width: 20rem;
    overflow: auto;
}